<page title="Семестры">
  <template v-slot:actions>
    <b-button variant="success" class="mr-3" @click="addSemester">
      <span>Добавить</span>
    </b-button>
    <b-button variant="primary" @click="changeCurrentSemester">
      <span>Изменить текущий</span>
    </b-button>
  </template>

  <cards-list
    :items="semesters"
    editable
    @edit="editSemester"
    @remove="removeSemester"
  >
    <template v-slot="{ item }">
      {{ item.rangeName }}
    </template>
  </cards-list>

  <semester-modal ref="semester-modal"></semester-modal>
  <current-semester-modal ref="current-semester-modal"></current-semester-modal>
</page>
