<page title="Расписание" wide class="timetable-page">
  <b-row>
    <b-col
      sm="12"
      lg="6"
      xl="4"
      v-for="(day, dayIndex) in days"
      :key="`day-${dayIndex}`"
    >
      <div class="day">
        <div class="title">{{ getDayName(dayIndex) }}</div>
        <div class="lessons-list">
          <b-row
            class="lesson m-0"
            v-for="(lesson, lessonIndex) in day"
            :key="`lesson-${dayIndex}-${lessonIndex}`"
          >
            <b-col class="p-0 item-centered">
              <span>{{ getLessonNumberName(lessonIndex) }}</span>
            </b-col>
            <b-col class="p-0">
              <b-row
                class="place m-0"
                v-for="(instance, instanceIndex) in lesson"
                :key="`lesson-${dayIndex}-${lessonIndex}-${instanceIndex}`"
                @click="openLog(instance)"
              >
                <b-col class="item-centered">
                  <span>{{ getLessonClassroomName(instance) }}</span>
                </b-col>
                <b-col class="item-centered">
                  <span>{{ getLessonDisciplineName(instance) }}</span>
                </b-col>
              </b-row>

              <b-row
                class="place m-0"
                v-if="lesson.length === 0"
                @click="addLesson(dayIndex, lessonIndex)"
              >
                <b-col class="item-centered button-add">
                  <a-icon icon="plus"></a-icon>
                </b-col>
              </b-row>
            </b-col>
          </b-row>
        </div>
      </div>
    </b-col>
  </b-row>

  <lesson-modal ref="lesson-modal"></lesson-modal>
</page>
