<page title="Расписание" wide class="timetable-page">
  <b-row>
    <b-col sm="12" lg="6" xl="4" v-for="(day, dayIndex) in days" :key="`day-${dayIndex}`">
      <div class="day">
        <div class="title">{{ day.name }}</div>
        <div class="lessons-list">
          <b-row
            class="lesson m-0"
            v-for="(lesson, lessonIndex) in day.lessons"
            :key="`lesson-${dayIndex}-${lessonIndex}`"
          >
            <b-col class="p-0 item-centered">{{ lesson.name }}</b-col>
            <b-col class="p-0">
              <b-row
                class="place m-0"
                v-for="(instance, instanceIndex) in lesson.instances"
                :key="`lesson-${dayIndex}-${lessonIndex}-${instanceIndex}`"
                @click="openLog(instance)"
              >
                <b-col class="item-centered">{{ instance.place }}</b-col>
                <b-col class="item-centered">{{ instance.type }}</b-col>
              </b-row>

              <b-row class="place m-0" v-if="lesson.isEmpty" @click="addLessonInstance(lesson)">
                <b-col class="item-centered button-add">
                  <a-icon icon="plus"/>
                </b-col>
              </b-row>
            </b-col>
          </b-row>
        </div>
      </div>
    </b-col>
  </b-row>

  <general-modal ref="lesson-instance-modal" title="Пара">
    <template v-slot="{ data }">
      <b-form-group label="Аудитория">
        <b-form-input type="text" autocomplete="false" v-model="data.place"/>
      </b-form-group>

      <b-form-group label="Дисциплина">
        <b-form-input type="text" autocomplete="false" v-model="data.type"/>
      </b-form-group>
    </template>
  </general-modal>
</page>
