<page :title="lessonTitle" wide class="log-page">
  <template v-slot:actions>
    <b-button variant="primary" v-if="fullAccess" @click="editLesson">
      <span>Изменить</span>
    </b-button>
  </template>

  <div class="title noselect">
    <b-row class="m-0">
      <b-col class="p-1">
        <b-button variant="success" class="w-100 h-100" @click="addStudent">
          Добавить студента
        </b-button>
      </b-col>
      <b-col class="p-0">
        <div class="tabs">
          <div
            class="tab"
            :class="getTabClass('schedule')"
            @click="state = 'schedule'"
          >
            Расписание
          </div>
          <div
            class="tab"
            :class="getTabClass('tests')"
            @click="state = 'tests'"
          >
            Нормативы
          </div>
          <div
            class="tab"
            :class="getTabClass('infos')"
            @click="state = 'infos'"
          >
            Инфо
          </div>
        </div>
      </b-col>
    </b-row>
  </div>

  <div class="log-content">
    <div class="students-list">
      <b-input
        v-model="filterString"
        class="search"
        placeholder="Поиск студента..."
      ></b-input>
      <div class="items-container">
        <div
          class="item"
          v-for="(student, index) in filteredStudents"
          :key="`student-${index}`"
        >
          <b-row class="w-100" @click="removeStudent(student)">
            <b-col cols="8" class="my-auto">{{ student.fullName }}</b-col>
            <b-col cols="4">{{ getStudentGroup(student).name }}</b-col>
          </b-row>
        </div>
      </div>
    </div>

    <div class="tables">
      <!-- BEGIN MARKS TABLE -->
      <div class="schedule-table" v-if="state === 'schedule'">
        <div class="title">
          <template v-for="(weeks, moduleIndex) in moduleWeeks">
            <div
              class="item"
              :class="{active: isModuleActive(moduleIndex)}"
              v-for="(week, weekIndex) in weeks"
              :key="`week-${moduleIndex}-${weekIndex}`"
            >
              {{ week.date | moment('DD.MM') }}
            </div>
            <div class="item module" :key="`title-module-${moduleIndex}`">
              <b>M {{ moduleIndex + 1 }}</b>
            </div>
          </template>
          <div class="item module">Баллы</div>
        </div>

        <div class="rows-container" :key="uniqueVisitsKey">
          <div
            class="items-row"
            v-for="(student, studentIndex) in filteredStudents"
            :key="`student-row-${studentIndex}`"
          >
            <template
              v-for="(module, moduleIndex) in getStudentVisits(student)"
            >
              <div
                class="item"
                v-for="(visit, visitIndex) in module"
                :key="`mark-${studentIndex}-${moduleIndex}-${visitIndex}`"
              >
                <b-form-select
                  :value="(visit && visit.mark) || null"
                  :options="markOptions"
                  :disabled="!isModuleActive(moduleIndex)"
                  @input="(value) => onMarkChanged(student, moduleIndex, visitIndex, value)"
                ></b-form-select>
              </div>
              <div
                class="item module"
                :key="`marks-module-${studentIndex}-${moduleIndex}`"
              >
                {{ getModuleSumm(module) }}
              </div>
            </template>
            <div class="item module">{{ getStudentSumm(student) }}</div>
          </div>
        </div>
      </div>
      <!-- END MARKS TABLE -->

      <!-- BEGIN TESTS TABLE -->
      <div class="tests-table" v-else-if="state === 'tests'">
        <div class="title">
          <template v-for="(test, testIndex) in tests">
            <div class="item" :key="`test-${testIndex}`">{{ test.name }}</div>
          </template>
        </div>
        <div class="rows-container" :key="uniqueTestMarksKey">
          <div
            class="items-row"
            v-for="(student, studentIndex) in filteredStudents"
            :key="`student-row-${studentIndex}`"
          >
            <template v-for="(test, testIndex) in tests">
              <div
                class="item"
                :key="`test-result-${studentIndex}-${testIndex}`"
              >
                <b-form-input
                  type="number"
                  :value="getStudentTestMark(student, test)"
                  @input="(value) => onTestMarkChanged(student, test, value)"
                ></b-form-input>
              </div>
              <div
                class="item"
                :key="`test-mark-${studentIndex}-${testIndex}`"
              ></div>
            </template>
          </div>
        </div>
      </div>
      <!-- END TESTS TABLE -->

      <!-- BEGIN INFOS TABLE -->
      <div class="infos-table" v-else-if="state === 'infos'">
        <div class="title">
          <div class="item wider">Группа здоровья</div>
          <div class="item wider">Дата получения справки</div>
          <div class="item wide">Дневник</div>
          <div class="item wider">Соревнования</div>
          <div class="item wider">Личностные качества</div>
          <div class="item wider">Дата зачёта</div>
        </div>
        <div class="rows-container">
          <div
            class="items-row"
            v-for="(student, studentIndex) in filteredStudents"
            :key="`student-row-${studentIndex}`"
          >
            <template v-for="info in [getStudentInfo(student)]">
              <div class="item wider">
                <b-form-select
                  v-model="info.healthGroup"
                  @input="() => updateInfo(info, false, 'healthGroup')"
                >
                  <option :value="1">Первая</option>
                  <option :value="2">Вторая</option>
                  <option :value="3">Третья</option>
                </b-form-select>
              </div>
              <div class="item wider button" @click="editReceiptDate(info)">
                {{ (info.receiptDate && formatDate(info.receiptDate)) || '' }}
              </div>
              <div class="item wide">
                <b-form-input
                  type="number"
                  v-model.number="info.diary"
                  @input="() => updateInfo(info, false, 'diary')"
                ></b-form-input>
              </div>
              <div class="item wider">
                <b-form-input
                  type="number"
                  v-model.number="info.competitions"
                  @input="() => updateInfo(info, false, 'competitions')"
                ></b-form-input>
              </div>
              <div class="item wider">
                <b-form-input
                  type="number"
                  v-model.number="info.personalQualities"
                  @input="() => updateInfo(info, false, 'personalQualities')"
                ></b-form-input>
              </div>
              <div class="item wider button" @click="editExamDate(info)">
                {{ (info.examDate && formatDate(info.examDate)) || '' }}
              </div>
            </template>
          </div>
        </div>
      </div>
      <!-- END INFOS TABLE -->
    </div>
  </div>

  <lesson-modal ref="lesson-modal" @submit="onSubmitLessonModal"></lesson-modal>

  <lesson-student-modal
    ref="lesson-student-modal"
    @submit="onSubmitLessonStudentModal"
  ></lesson-student-modal>

  <general-modal
    ref="receipt-date-modal"
    title="Дата получения справки"
    @submit="updateInfo"
  >
    <template v-slot="{ data }">
      <b-form-row>
        <b-col cols="9">
          <datepicker
            v-model="data.receiptDate"
            :language="locale"
            :format="format"
            bootstrap-styling
            monday-first
          ></datepicker>
        </b-col>
        <b-col cols="3">
          <b-button @click="data.receiptDate = null" class="w-100"
            >Очистить</b-button
          >
        </b-col>
      </b-form-row>
    </template>
  </general-modal>

  <general-modal ref="exam-date-modal" title="Дата зачёта" @submit="updateInfo">
    <template v-slot="{ data }">
      <b-form-row>
        <b-col cols="9">
          <datepicker
            v-model="data.examDate"
            :language="locale"
            :format="format"
            bootstrap-styling
            monday-first
          ></datepicker>
        </b-col>
        <b-col cols="3">
          <b-button @click="data.examDate = null" class="w-100"
            >Очистить</b-button
          >
        </b-col>
      </b-form-row>
    </template>
  </general-modal>
</page>
