$font-color: #2c3e50;
$title-color: #b1bed5;

$title-height: 3em;
$row-height: 3em;

$sidebar-width: 220px;

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.item-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-control {
  border-radius: 0px;
}